In [1]:
# import required libraries
# for data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

In [2]:
# locate the dataframe file and display the information
juv_perintah = pd.read_excel('Final perintah mahkamah.xlsx')
juv_perintah.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 5 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Peringkat Mahkamah / Court Level  280 non-null    object
 1   Jantina / Gender                  280 non-null    object
 2   Etnic Group / Kumpulan Etnik      280 non-null    object
 3   Tahun / Year                      280 non-null    int64
 4   Jumlah / Total                    280 non-null    int64
dtypes: int64(2), object(3)
memory usage: 11.1+ KB

In [3]:
# display all column names
print(juv_perintah.columns.values)

['Peringkat Mahkamah / Court Level' 'Jantina / Gender'
 'Etnic Group / Kumpulan Etnik' 'Tahun / Year' 'Jumlah / Total']

In [4]:
juv_perintah.head()

,Peringkat Mahkamah / Court Level,Jantina / Gender,Etnic Group / Kumpulan Etnik,Tahun / Year,Jumlah / Total
0,Mahkamah Bagi Kanak-Kanak kes tidak terkawal /...,L / M,Cina / Chinese,2016,0
1,Mahkamah Bagi Kanak-Kanak kes tidak terkawal /...,L / M,India / Indian,2016,2
2,Mahkamah Bagi Kanak-Kanak kes tidak terkawal /...,L / M,Lain-Lain / Others,2016,2
3,Mahkamah Bagi Kanak-Kanak kes tidak terkawal /...,L / M,Melayu / Malay,2016,7
4,Mahkamah Bagi Kanak-Kanak kes tidak terkawal /...,L / M,PSb (Sabah Natives),2016,1

In [5]:
juv_perintah.tail()

,Peringkat Mahkamah / Court Level,Jantina / Gender,Etnic Group / Kumpulan Etnik,Tahun / Year,Jumlah / Total
275,Mahkamah Tinggi,P,PSb,2021,0
276,Mahkamah Tinggi,L,PSm,2021,0
277,Mahkamah Tinggi,P,PSm,2021,0
278,Mahkamah Tinggi,L,PSw,2021,0
279,Mahkamah Tinggi,P,PSw,2021,0

In [6]:
juv_perintah.dropna(inplace = True)

In [7]:
juv_perintah.drop_duplicates(inplace=True)

In [8]:
juv_perintah.isnull().values.any()

False

In [9]:
juv_perintah.isnull().any()

Peringkat Mahkamah / Court Level    False
Jantina / Gender                    False
Etnic Group / Kumpulan Etnik        False
Tahun / Year                        False
Jumlah / Total                      False
dtype: bool

In [10]:
# display basic statistical information
juv_perintah.describe(include=['O'])

,Peringkat Mahkamah / Court Level,Jantina / Gender,Etnic Group / Kumpulan Etnik
count,280,280,280
unique,12,6,21
top,Mahkamah Bagi Kanak-Kanak kes tidak terkawal /...,L / M,Cina / Chinese
freq,28,70,20

In [11]:
# Rename the column name
juv_perintah.rename(columns = {'Peringkat Mahkamah / Court Level':'Court Level',
                               'Jantina / Gender':'Gender', 'Etnic Group / Kumpulan Etnik':'Etnic Group',
                               'Tahun / Year':'Year','Jumlah / Total':'Total'}, inplace = True)

In [12]:
juv_perintah.head()

,Court Level,Gender,Etnic Group,Year,Total
0,Mahkamah Bagi Kanak-Kanak kes tidak terkawal /...,L / M,Cina / Chinese,2016,0
1,Mahkamah Bagi Kanak-Kanak kes tidak terkawal /...,L / M,India / Indian,2016,2
2,Mahkamah Bagi Kanak-Kanak kes tidak terkawal /...,L / M,Lain-Lain / Others,2016,2
3,Mahkamah Bagi Kanak-Kanak kes tidak terkawal /...,L / M,Melayu / Malay,2016,7
4,Mahkamah Bagi Kanak-Kanak kes tidak terkawal /...,L / M,PSb (Sabah Natives),2016,1

In [13]:
# display information based on court level (peringkat mahkamah)
juv_perintah.groupby(by=["Court Level"], dropna=False).count()

,Gender,Etnic Group,Year,Total
Court Level,,,,
Lain-lain,14,14,14,14
Mahkamah Bagi Kanak-Kanak (a) melalui pendakwaan,14,14,14,14
Mahkamah Bagi Kanak-Kanak (b) kes tidak terkawal,14,14,14,14
Mahkamah Bagi Kanak-Kanak kes tidak terkawal / Court for Children Cases beyond control,28,28,28,28
Mahkamah Bagi Kanak-Kanak melalui pendakwaan / Court for Children Indictment,28,28,28,28
Mahkamah Bagi Kanak-kanak,14,14,14,14
Mahkamah Majistret,28,28,28,28
Mahkamah Majistret / Magistrate Court,28,28,28,28
Mahkamah Sesyen,28,28,28,28
Mahkamah Sesyen / Sesyen Court,28,28,28,28
Mahkamah Tinggi,28,28,28,28
Mahkamah Tinggi / High Court,28,28,28,28

In [14]:
juv_perintah['Court Level'].unique()

array(['Mahkamah Bagi Kanak-Kanak kes tidak terkawal / Court for Children Cases beyond control',
       'Mahkamah Bagi Kanak-Kanak melalui pendakwaan / Court for Children Indictment',
       'Mahkamah Majistret / Magistrate Court',
       'Mahkamah Sesyen / Sesyen Court', 'Mahkamah Tinggi / High Court',
       'Mahkamah Bagi Kanak-Kanak (a) melalui pendakwaan',
       'Mahkamah Bagi Kanak-Kanak (b) kes tidak terkawal',
       'Mahkamah Majistret', 'Mahkamah Sesyen', 'Mahkamah Tinggi',
       'Lain-lain ', 'Mahkamah Bagi Kanak-kanak'], dtype=object)

In [15]:
# standardize the data
juv_perintah['Court Level'].replace(to_replace=
                                           ["Mahkamah Bagi Kanak-Kanak kes tidak terkawal / Court for Children Cases beyond control",
                                            "Mahkamah Bagi Kanak-Kanak melalui pendakwaan / Court for Children Indictment",
                                            "Mahkamah Bagi Kanak-Kanak (a) melalui pendakwaan",
                                            "Mahkamah Bagi Kanak-Kanak (b) kes tidak terkawal","Mahkamah Bagi Kanak-kanak"], 
                                           value="Court for Children", inplace=True)

juv_perintah['Court Level'].replace(to_replace=["Mahkamah Majistret / Magistrate Court","Mahkamah Majistret"], 
                                           value="Magistrate Court", inplace=True)

juv_perintah['Court Level'].replace(to_replace=["Mahkamah Sesyen / Sesyen Court","Mahkamah Sesyen"], 
                                           value="Session Court", inplace=True)

juv_perintah['Court Level'].replace(to_replace=["Mahkamah Tinggi / High Court","Mahkamah Tinggi"], 
                                           value="High Court", inplace=True)

juv_perintah['Court Level'].replace(to_replace=["Lain-lain "], 
                                           value="Others", inplace=True)

In [16]:
# display information based on court level (peringkat mahkamah)
juv_perintah.groupby(by=["Court Level"], dropna=False).count()

                    Gender  Etnic Group  Year  Total
Court Level
Court for Children      98           98    98     98
High Court              56           56    56     56
Magistrate Court        56           56    56     56
Others                  14           14    14     14
Session Court           56           56    56     56

In [17]:
# display information based on court level (peringkat mahkamah)
juv_perintah.groupby(by=["Gender"], dropna=False).count()

           Court Level  Etnic Group  Year  Total
Gender
L                   35           35    35     35
L / M               70           70    70     70
Lelaki              35           35    35     35
P                   35           35    35     35
P / F               70           70    70     70
Perempuan           35           35    35     35

In [18]:
juv_perintah['Gender'].unique()

array(['L / M', 'P / F', 'Lelaki', 'Perempuan', 'L', 'P'], dtype=object)

In [19]:
# standardize the data
juv_perintah['Gender'].replace(to_replace=["L / M","L","Lelaki"], value="Male", inplace=True)
juv_perintah['Gender'].replace(to_replace=["P / F","P","Perempuan"], value="Female", inplace=True)

In [20]:
# display information based on gender (jantina)
juv_perintah.groupby(by=["Gender"], dropna=False).count()

        Court Level  Etnic Group  Year  Total
Gender
Female          140          140   140    140
Male            140          140   140    140

In [21]:
# display information based on etnicity (kumpulan etnik)
juv_perintah.groupby(by=["Etnic Group"], dropna=False).count()

                          Court Level  Gender  Year  Total
Etnic Group
Chinese                            10      10    10     10
Cina                               10      10    10     10
Cina / Chinese                     20      20    20     20
India                              10      10    10     10
India / Indian                     20      20    20     20
Indian                             10      10    10     10
Lain-Lain / Others                 20      20    20     20
Lain-lain                          10      10    10     10
Lain-lain                          10      10    10     10
Malay                              10      10    10     10
Melayu                             10      10    10     10
Melayu / Malay                     20      20    20     20
PSb                                10      10    10     10
PSb (Sabah Natives)                20      20    20     20
PSm                                10      10    10     10
PSm (Peninsular Natives)           20      20    20     20
PSw                                10      10    10     10
PSw (Sarawak Natives)              20      20    20     20
Pribumi Sabah                      10      10    10     10
Pribumi Sarawak                    10      10    10     10
Pribumi Semenanjung                10      10    10     10

In [22]:
juv_perintah['Etnic Group'].unique()

array(['Cina / Chinese', 'India / Indian', 'Lain-Lain / Others',
       'Melayu / Malay', 'PSb (Sabah Natives)',
       'PSm (Peninsular Natives)', 'PSw (Sarawak Natives)', 'Cina',
       'India', 'Lain-lain', 'Melayu', 'Pribumi Sabah', 'Pribumi Sarawak',
       'Pribumi Semenanjung', 'Chinese ', 'Indian ', 'Lain-lain ',
       'Malay ', 'PSb ', 'PSm ', 'PSw '], dtype=object)

In [23]:
# standardize the data
juv_perintah['Etnic Group'].replace(to_replace=["Cina / Chinese","Chinese ","Cina"], value="Chinese", inplace=True)

juv_perintah['Etnic Group'].replace(to_replace=["India / Indian","Indian ","India"], value="Indian", inplace=True)

juv_perintah['Etnic Group'].replace(to_replace=["Lain-Lain / Others","Lain-lain ","Lain-lain"], value="Others",
                                       inplace=True)

juv_perintah['Etnic Group'].replace(to_replace=["Melayu / Malay","Malay ","Melayu"], value="Malay", inplace=True)

juv_perintah['Etnic Group'].replace(to_replace=["PSm ","PSm (Peninsular Natives)","Pribumi Semenanjung"], value="Peninsular Natives",
                                       inplace=True)

juv_perintah['Etnic Group'].replace(to_replace=["PSb ","PSb (Sabah Natives)","Pribumi Sabah"], value="Sabah Natives",
                                       inplace=True)

juv_perintah['Etnic Group'].replace(to_replace=["PSw (Sarawak Natives)","PSw ","Pribumi Sarawak"], value="Sarawak Natives", 
                                       inplace=True)

In [24]:
# display information based on etnicity (kumpulan etnik)
juv_perintah.groupby(by=["Etnic Group"], dropna=False).count()

                    Court Level  Gender  Year  Total
Etnic Group
Chinese                      40      40    40     40
Indian                       40      40    40     40
Malay                        40      40    40     40
Others                       40      40    40     40
Peninsular Natives           40      40    40     40
Sabah Natives                40      40    40     40
Sarawak Natives              40      40    40     40

In [25]:
# display information based on year (tahun)
juv_perintah.groupby(by=["Year"], dropna=False).count()

      Court Level  Gender  Etnic Group  Total
Year
2016           70      70           70     70
2017           70      70           70     70
2018           70      70           70     70
2021           70      70           70     70

In [26]:
juv_perintah['Year'] = juv_perintah['Year'].astype(str)

In [27]:
juv_perintah.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 0 to 279
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Court Level  280 non-null    object
 1   Gender       280 non-null    object
 2   Etnic Group  280 non-null    object
 3   Year         280 non-null    object
 4   Total        280 non-null    int64
dtypes: int64(1), object(4)
memory usage: 13.1+ KB

In [28]:
juv_perintah['Year'] = pd.to_datetime(juv_perintah['Year'])

In [29]:
juv_perintah.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 0 to 279
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Court Level  280 non-null    object
 1   Gender       280 non-null    object
 2   Etnic Group  280 non-null    object
 3   Year         280 non-null    datetime64[ns]
 4   Total        280 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 13.1+ KB

In [30]:
excel_file = pd.ExcelWriter("juvdata_courtlevel.xlsx")

In [31]:
juv_perintah.to_excel(excel_file, index = False)

In [32]:
excel_file.save()